@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  padding: none;
  margin: none;
  box-sizing: border-box;
  list-style: none;
}

::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #b3ada7;
}

body {
  color: #faf9f9;
  background: #0c0c0c;
  font-family: Arial, Helvetica, sans-serif;
}
